body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #dcd5d5;
}

.calculadora {
    border: 4px solid #0051ff;
    border-radius: 12px;
    overflow: hidden;
    width: 320px;
    background-color: #b6dada;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.display {
    background-color: #222;
    color: rgba(255, 255, 255, 0.93);
    text-align: right;
    padding: 20px;
    font-size: 2em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    padding: 20px;
    font-size: 1.5em;
    border: 1px solid #000000;
    background-color: rgba(162, 184, 255, 0.92);
    cursor: pointer;
}



.operador {
    background-color: #ff9200;
    color: #fff;
}
